@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

body{
    color: aqua;
    background-color: brown;
    font-family: "Quicksand";
}

.patrick{
    color:blue;
    background-color: bisque;
}